.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.image {
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: left;
}

.buttonnav {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
  background-color: #3f51b5;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  cursor: pointer;
}

.navbar {
  left: auto;
  background-color: transparent;
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
}

.container {
  margin: 20px auto;
}

.body {
  background-color: #fc0;
  background-image: url('../images/PatternNew.svg');
  background-position: 50% 50%;
  background-size: auto;
  background-repeat: repeat;
  background-attachment: fixed;
  -webkit-transition: background-position 25ms ease-in-out;
  transition: background-position 25ms ease-in-out;
}

.column {
  padding-left: 60px;
}

.text-block {
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 24px;
  padding-bottom: 40px;
  padding-left: 10px;
  font-family: Poppins, sans-serif;
  font-size: 40px;
  font-weight: 700;
}

.text-block-2 {
  margin-left: auto;
  padding: 40px;
  font-family: Poppins, sans-serif;
  font-size: 40px;
  font-weight: 700;
}

.container-2 {
  margin-top: 0px;
  padding: 40px 0px 40px 40px;
}

.nav-link {
  font-family: Poppins, sans-serif;
  font-weight: 700;
}

.nav-link-2 {
  font-family: Poppins, sans-serif;
  font-weight: 700;
}

.columns {
  margin-left: auto;
}

.hero {
  display: block;
  padding-top: 10px;
  padding-bottom: 100px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.hero-image-mask {
  width: 100%;
  margin-left: 40px;
}

.hero-image {
  width: 100%;
  height: 100%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0.5 auto;
  -ms-flex: 0 0.5 auto;
  flex: 0 0.5 auto;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.heading {
  font-family: Poppins, sans-serif;
  font-size: 32px;
}

.cards-section {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #fff;
}

.centered-container {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}

.cards-grid-container {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  text-align: left;
}

.cards-image-mask {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 100%;
  border-radius: 0%;
}

.cards-image {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 100%;
  height: 100%;
  max-width: none;
  border: 1px none #000;
  border-radius: 20px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.heading-2 {
  font-family: Poppins, sans-serif;
  color: #3f51b5;
  text-align: left;
}

.paragraph {
  font-family: Poppins, sans-serif;
  text-align: left;
}

.gallery {
  padding-top: 40px;
  padding-bottom: 100px;
  background-color: #fff;
}

.gallery-grid-container {
  display: -ms-grid;
  display: grid;
  margin-top: 40px;
  -ms-grid-row-align: center;
  align-self: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-areas: ".";
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto 20px auto;
  grid-template-rows: auto auto;
}

.gallery-lightbox {
  position: relative;
  overflow: hidden;
}

.gallery-thumbnail {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.heading-3 {
  font-family: Poppins, sans-serif;
  color: #3f51b5;
  text-align: left;
}

.subscribe-form {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #fff;
}

.subscribe-form-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.subscribe-form-input-wrapper {
  text-align: left;
}

.subscribe-form-input {
  margin-bottom: 0px;
  border-radius: 15px 0px 0px 15px;
  font-family: Poppins, sans-serif;
}

.submit-button {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #3f51b5;
  font-family: Poppins, sans-serif;
}

.footer {
  padding-top: 60px;
  padding-bottom: 40px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #3f51b5;
  text-align: center;
}

.footer-flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: left;
}

.footer-logo-link {
  max-height: 60px;
  min-width: 60px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.footer-image {
  overflow: visible;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 0% 50%;
  object-position: 0% 50%;
}

.footer-heading {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.5;
}

.footer-link {
  display: block;
  margin-bottom: 10px;
  color: #fff;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

.buttonnrml {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
  background-color: #3f51b5;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  cursor: pointer;
}

.heading-4 {
  font-family: Poppins, sans-serif;
  font-size: 24px;
  text-align: left;
}

.paragraph-2 {
  text-align: left;
}

.heading-5 {
  margin-right: 140px;
  margin-bottom: 20px;
  margin-left: 140px;
  font-family: Poppins, sans-serif;
  color: #3f51b5;
  text-align: left;
}

.paragraph-3 {
  font-family: Poppins, sans-serif;
  text-align: left;
}

.heading-6 {
  font-family: Poppins, sans-serif;
}

.heading-7 {
  font-family: Poppins, sans-serif;
}

.heading-8 {
  font-family: Poppins, sans-serif;
}

.paragraph-4 {
  font-family: Poppins, sans-serif;
  font-size: 16px;
}

.paragraph-5 {
  font-family: Poppins, sans-serif;
  font-size: 16px;
}

.paragraph-6 {
  font-family: Poppins, sans-serif;
  font-size: 16px;
}

.text-block-3 {
  font-family: Poppins, sans-serif;
  color: #fff;
}

.contact-form {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #fc0;
  font-family: Poppins, sans-serif;
}

.contact-form-grid {
  display: -ms-grid;
  display: grid;
  margin-top: 40px;
  grid-auto-columns: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.div-block {
  margin-top: -80px;
}

.submit-button-2 {
  margin-top: 10px;
  padding-right: 40px;
  padding-left: 40px;
  border-radius: 20px;
  background-color: #3f51b5;
  font-weight: 700;
}

.text-field {
  border-radius: 20px;
}

.text-field-2 {
  border-radius: 20px;
}

.textarea {
  border-radius: 8px;
}

.link-block {
  background-image: url('../images/instagram-1.svg');
  background-position: 50% 50%;
  background-repeat: repeat;
}

.footer-2 {
  padding-top: 60px;
  padding-bottom: 40px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #3f51b5;
  font-family: Poppins, sans-serif;
  color: #fff;
  text-align: center;
}

.main-content {
  padding-top: 100px;
  padding-bottom: 100px;
}

.rich-text-block {
  font-family: Poppins, sans-serif;
}

.html-embed {
  margin-bottom: -300px;
}

.paragraph-7 {
  font-family: Poppins, sans-serif;
}

.container-3 {
  margin-top: 20px;
}

@media screen and (max-width: 991px) {
  .container {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .body {
    background-size: cover;
  }

  .text-block-2 {
    padding-right: 10px;
    padding-left: 10px;
    text-transform: none;
  }

  .container-2 {
    padding-left: 10px;
  }

  .cards-grid-container {
    grid-column-gap: 20px;
  }

  .gallery-grid-container {
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
  }

  .footer {
    padding-right: 20px;
    padding-left: 20px;
  }

  .heading-5 {
    margin-right: 40px;
    margin-left: 40px;
  }

  .div-block {
    margin-top: -50px;
  }

  .footer-2 {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media screen and (max-width: 767px) {
  .buttonnav {
    margin-left: auto;
    background-color: #fc0;
    color: #3f51b5;
    font-weight: 800;
  }

  .body {
    background-size: auto;
  }

  .column {
    padding-right: 0px;
    padding-left: 0px;
  }

  .image-2 {
    display: inline-block;
    text-align: left;
  }

  .nav-link {
    margin-top: 60px;
    color: #fff;
    text-align: center;
  }

  .nav-link-2 {
    color: #fff;
    text-align: center;
  }

  .hero {
    padding: 40px 20px;
  }

  .flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .hero-image-mask {
    margin-right: 0px;
    margin-left: 0px;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }

  .cards-section {
    padding: 40px 20px;
  }

  .cards-grid-container {
    max-width: none;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }

  .gallery {
    padding: 40px 20px;
  }

  .gallery-grid-container {
    max-width: none;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
  }

  .subscribe-form {
    padding: 40px 20px;
  }

  .footer {
    padding: 40px 20px;
  }

  .footer-image {
    -o-object-fit: contain;
    object-fit: contain;
  }

  .heading-5 {
    margin-right: 20px;
    margin-left: 20px;
  }

  .nav-menu {
    background-color: #3f51b5;
  }

  .contact-form {
    padding: 40px 20px;
  }

  .div-block {
    margin-top: 0px;
  }

  .footer-2 {
    padding: 40px 20px;
  }

  .main-content {
    padding: 40px 20px;
  }
}

@media screen and (max-width: 479px) {
  .buttonnav {
    margin-right: auto;
    margin-left: auto;
    background-color: #fc0;
    color: #3f51b5;
    font-weight: 800;
  }

  .navbar {
    background-color: #fc0;
  }

  .body {
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
  }

  .nav-link {
    margin-top: 60px;
    color: #fff;
    text-align: center;
  }

  .nav-link-2 {
    margin-left: 0px;
    color: #fff;
    text-align: center;
  }

  .hero-image {
    margin-top: -40px;
    padding-left: 0px;
  }

  .heading {
    font-size: 24px;
  }

  .centered-container {
    text-align: left;
  }

  .cards-grid-container {
    margin-right: 0px;
    margin-left: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .heading-2 {
    margin-bottom: -50px;
  }

  .gallery {
    padding-top: 0px;
  }

  .gallery-grid-container {
    margin-right: 0px;
    margin-left: 0px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto;
  }

  .heading-3 {
    font-size: 24px;
  }

  .subscribe-form {
    margin-bottom: -30px;
  }

  .subscribe-form-flex {
    overflow: visible;
  }

  .subscribe-form-input-wrapper {
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .subscribe-form-input {
    width: 100%;
  }

  .footer {
    padding-right: 20px;
    padding-left: 20px;
    text-align: left;
  }

  .footer-flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer-logo-link {
    height: 60px;
  }

  .footer-heading {
    margin-top: 20px;
  }

  .heading-4 {
    font-size: 16px;
  }

  .heading-5 {
    margin-right: 10px;
    margin-left: 10px;
  }

  .paragraph-6 {
    margin-bottom: 0px;
    font-size: 14px;
  }

  .nav-menu {
    background-color: #3f51b5;
  }

  .footer-2 {
    padding-right: 20px;
    padding-left: 20px;
    text-align: left;
  }

  .html-embed {
    margin-bottom: auto;
  }
}

#w-node-f2f48a51-ab25-4c72-124e-97aedc152631-ef9fbebc {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

@media screen and (max-width: 767px) {
  #w-node-d1478e62-7274-686a-ebcd-2dd9d292f918-ef9fbebc {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-d1478e62-7274-686a-ebcd-2dd9d292f91a-ef9fbebc {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-d1478e62-7274-686a-ebcd-2dd9d292f91f-ef9fbebc {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-d1478e62-7274-686a-ebcd-2dd9d292f921-ef9fbebc {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row-align: start;
    align-self: start;
  }
}

@media screen and (max-width: 479px) {
  #w-node-d1478e62-7274-686a-ebcd-2dd9d292f90e-ef9fbebc {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-d1478e62-7274-686a-ebcd-2dd9d292f915-ef9fbebc {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-d1478e62-7274-686a-ebcd-2dd9d292f91c-ef9fbebc {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-f2f48a51-ab25-4c72-124e-97aedc152621-ef9fbebc {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-f2f48a51-ab25-4c72-124e-97aedc152629-ef9fbebc {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
}

